.emojiPicker {
    position: absolute;
    /* left: 0%; */
    /* transform: translateX(-20%); */
    transform: translateY(-50%);
    padding: 10px;
    display: flex;
  }
  
  .emojiButton , .sendButton {
    /* position: relative; */
    min-width: 23px;
    /* width: 23px; */
    height: 23px;
    background: transparent;
    border-radius: 50%;
    border-color: transparent;
  }

  .panel-item:not(:last-child){
    margin: 0 1em 0 0;
  }

  .emojiButton , svg{
    fill: transparent;
    stroke: #54575c;
  }
  svg{
    /* height: auto; */
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
  }
